default_language_version:
  python: python3.10
exclude: |
  (?x)^(
    \.ijwb/.*|
    \.idea/.*
  )$

repos:
  - repo: local
    hooks:
      - id: repo-structure-diff
        name: Enforce Repository Structure
        entry: uv run repo_structure diff-scan
        language: system
        args: ["--config-path", "repo_structure.yaml"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint-uv
        name: pylint (uv)
        entry: uv run --extra dev pylint
        language: system
        types: [python]
        pass_filenames: true
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        args: [-w]
        exclude: "MODULE.bazel.lock"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "v0.47.0"
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/Yelp/detect-secrets
    rev: "v1.5.0"
    hooks:
      - id: detect-secrets
        exclude: .pre-commit-config.yaml
  - repo: https://github.com/zricethezav/gitleaks
    rev: "v8.30.0"
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff
